@use '../utils' as *;

.about {
  padding: 56px 0;

  @include on-desktop {
    padding: 90px 0;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @include on-tablet {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      column-gap: 60px;
      align-items: start;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 26px;
    color: $color-white;

    @include on-desktop {
      font-size: 40px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.7;
    color: $color-text;
    max-width: 480px;
  }
}
