@use '../utils' as *;

.button {
  display: inline-block;
  min-width: 240px;
  padding: 18px 40px;

  font-weight: 500;
  font-size: 15px;
  text-align: center;

  color: $color-bg;
  background-color: $color-white;
  border: 1px solid $color-white;
  border-radius: 40px;
  transition:
    background-color $transition,
    color $transition;

  &:hover {
    background-color: transparent;
    color: $color-white;
  }
}
